*.rdb
*.swm
*.swn
*.swo
*.swp
*.swl
*.swk
.bundle
.DS_Store
.sass-cache/
.yardoc/
db/*.sqlite3
doc/*
doc/*.dot
doc/*.pdf
doc/*.png
log/*.log
mkmf.log
public/assets*
public/system/
public/replays/
public/stylesheets/
tmp/
vendor/cache
.code_swarm
.jhw-cache
*.orig
spec/dummy/log/*.log
